<%if @film.present?%>
  Title: <%= check_for_record(@film.title)%></br>
  Episode: <%= check_for_record(@film.episode_id)%></br>
  Director: <%=check_for_record(@film.director)%></br>
  Release Date: <%=check_for_record(@film.release_date)%></br>
  Producer: <%=check_for_record(@film.producer)%></br>
  </br>
  Opening Crawl: <%=check_for_record(@film.opening_crawl)%></br>
  </br>
  <b>Characters:</b></br>
  <%= render_async characters_render_path(id: params[:id]), error_message: '<p>Sorry, Something went wrong. Try again later</p>' do %>
    loading characters...
  <%end%>
  </br>
  <b>Vehicles:</b></br>
  <%= render_async vehicles_render_path(id: params[:id]), error_message: '<p>Sorry, Something went wrong. Try again later</p>' do %>
    loading vehicles...
  <%end%>
  </br>
  <b>Planets:</b></br>
  <%= render_async planets_render_path(id: params[:id]), error_message: '<p>Sorry, Something went wrong. Try again later</p>' do %>
    loading planets...
  <%end%>
<%else%>
  Something went wrong! Check back at a later time.
<%end%>